.article {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15fr 15fr 40fr 15fr 15fr;
  grid-gap: 1rem;
  padding: 1rem;
  flex: 1 0 auto;
  width: 100%;
}

.article section {
  font-size: 3rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(14, 13, 13);
  transition: .15s background-color;
  cursor: pointer;
}

.article section:hover {
  background-color: #555;
}

.article header {
  font-size: 3rem;
  grid-column: span 2;
  line-height: 4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}

.article header h1 {
  flex-wrap: wrap;
  flex: 1 1 100%;
}